.videoTile {
  cursor: pointer;
  display: grid;
  /* // add cursor over photos for weblink */
}

.videoTile__img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.playBtn {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px; /*half of the width */
  margin-top: -48px; /*half of the height */
}
/*may need to switch out row in order to be able to move favorite button into videotile*/

.faveButton {
  position: absolute;
  z-index: 2;
  top: 0px;
  display: block;
  left: 0px;
}

.videoTile__img:hover {
  box-shadow: 0 0 5px 2px rgb(73, 72, 72);
}

.videoTile__img.show .faveButton {
  display: block;
}

/**TODO
-set up favorite button functionality
  -override default button functionality
-move favorite button into movieTIle
-have favorite button only show for the tile you're moused into
*/
