.videoTile {
  cursor: pointer;
  display: grid;
  /* // add cursor over photos for weblink */
}

.videoTile__img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.videoTile__img:hover {
  box-shadow: 0 0 5px 1px rgb(92, 92, 92);
}

.faveButton {
  position: absolute;
  z-index: 2;
  top: 0px;
  display: block;
  left: 0px;
}
/**
.videoTile__img.show .faveButton{
	display: block;
}
*/
