.videoTile {
  cursor: pointer;
  /* // add cursor over photos for weblink */
}

.videoTile__img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.playBtn {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px; /*half of the width */
  margin-top: -48px; /*half of the height */
}

.videoTile__img:hover {
  box-shadow: 0 0 5px 2px rgb(73, 72, 72);
}
